header, main, footer {
    margin: 3px;
}

header{
    padding: 10px;
    height: 110px;
    background: #aaaaaa40;
}

main {
    width: 95%;
    height: 790px;
    margin: auto;
    background: #aaaaaa40;
    padding: 3px;
}

footer {
    height: 200px;
    background: #aaaaaa40;
}

.header-logo {
    height: 110px;
    width: 110px;
    float: left;
}

.header-menu {
    float: right;
    height: 100%;
    width: 88%;
    text-align: center;
}
.header-logo img {
    height: 100%;
    width: 100%;
}

.header-menu-button{
    height: 80%;
    width: 20%;
    margin: 10px 2%;
    display: inline-block; 
    border: 1px solid black;
    line-height: 90px;
}

.header-menu-button:hover{
    background: #aaaaaa;
}

.main-article{
    height: 150;
    margin: 5px;
    border: 1px solid black;
}

.article-img{
    height: 100%;
    width: 230px;
    margin: 0px;
    display: inline-block;
}
.article-text{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.article-img img{
    height: 100%;
    width: 230px;
}