header, main, footer {
    margin: 3px;
}

header{
    padding: 10px;
    height: 110px;
    background: #aaaaaa40;
}

main {
    width: 95%;
    height: 790px;
    margin: auto;
    background: #aaaaaa40;
    padding: 3px;
}

footer {
    height: 80px;
    background: #aaaaaa40;
}

.header-logo {
    height: 110px;
    width: 110px;
    float: left;
}

.header-menu {
    float: right;
    height: 100%;
    width: 88%;
    text-align: center;
}
.header-logo img {
    height: 100%;
    width: 100%;
}

.header-menu-button{
    height: 80%;
    width: 15%;
    margin: 10px 2%;
    display: inline-block; 
    border: 1px solid black;
    line-height: 90px;
}

.header-menu-button:hover{
    background: #aaaaaa;
}

.main-article{
    height: 150;
    margin: 5px;
    border: 1px solid black;
}

.main-article:hover{
    transform: scale(1.02);
    background: #aaaaaa;
    box-shadow: 0 0 20px gray;
}

.article-img{
    height: 100%;
    width: 230px;
    margin: 0px;
    /* display: inline-block; */
    float: left;
}
.article-text{
    display: block;
    margin-left: 240px;
}

.article-img img{
    height: 100%;
    width: 230px;
}

.footer-contacts{
    float: left;
    text-align: center;
    margin: 10;
    line-height: 2;
}


.footer-social div{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-image: url(../img/sprite.png);
    background-position-x: 10px; 
    float: right;
    margin: 15px;
    background-repeat: no-repeat;
    background-color: #aaa;
}

.footer-inst{
    background-position-y: -120px;
}

.footer-facebook{
    background-position-y: -60px;
}

a {
    text-decoration: none;
    color: black;
}

